<div class="container" style="height: 400px">
  <div [ng2-highcharts]="chartOptions" *ngIf="showChart"></div>
</div>

<div class="container">
  <table class="table table-hover table-striped table-fixed">
    <thead class="thead-default">
    <tr>
      <th class="col-xl-2">Feeding</th>
      <th class="col-xl-2">Time of Day</th>
      <th class="col-xl-8">7 Day Average (ml)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let feeding of feedings">
      <td class="col-xl-2">{{feeding.feeding}}</td>
      <td class="col-xl-2">
        <span>{{feeding.summaries.sevenDay.timesOfDay[0]}}</span>
        <span *ngIf="feeding.summaries.sevenDay.timesOfDay.length > 1">
          to {{feeding.summaries.sevenDay.timesOfDay.slice(-1)[0]}}
        </span>
      </td>
      <td class="col-xl-8">{{feeding.summaries.sevenDay.milkVolumeAverageMilliliters}}</td>
    </tr>
    </tbody>
  </table>
</div>

