<div *ngIf="feedingSummary">
  <div class="container" style="height: 400px">
    <div [ng2-highcharts]="chartOptions" *ngIf="showChart"></div>
  </div>

  <div class="container">
    <table class="table table-hover table-striped table-fixed">
      <thead class="thead-default">
      <tr>
        <th class="col-xl-2">Date</th>
        <th class="col-xl-2">Time</th>
        <th class="col-xl-2">Volume</th>
        <th class="col-xl-2">Temperature</th>
        <th class="col-xl-2">Diapers</th>
        <th class="col-xl-2">Nursing (min)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let feeding of feedingSummary.feedings">
        <td class="col-xl-2">{{feeding.date}}</td>
        <td class="col-xl-2">{{feeding.time}}</td>
        <td class="col-xl-2">{{feeding.milkVolumeMilliliters}}ml ({{feeding.milkType}})</td>
        <td class="col-xl-2">{{feeding.bodyTemperature}}</td>
        <td class="col-xl-2">{{feeding.diaperTypes}}</td>
        <td class="col-xl-2">{{feeding.nursingDurationMinutes}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
